<!--checkbox1-->
    <div class="cat-text" data-group-name="{{Dept}}">{{Dept}}</div>
  <div class="checkbox-switch">
			<input type="checkbox" checked="" value="1" name="{{Dept}}" class="input-checkbox" id="toolbar-active">
			<div class="checkbox-animate">
				<span class="checkbox-off">OFF</span>
				<span class="checkbox-on">ON</span>
        
			</div>
		</div>
    <!--/checkbox1-->
