<div class="corp"><i class="fa fa-dashcube"></i>corp<sup>&reg;</sup><span>Where Things Get Done.</span></div>
<div class="wrapper">
  <div class="left-col"><h2>Corp <br />Employees</h2><div class="subtext">Select a department:</div>
  	<div class="check-wrapper">
  	</div>
  </div>
  <div class="right-col">
<table>
  <thead>
  <tr>

  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
</div>